Repository sardagsoftware/borsa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Extract auth service from monolithic server.js (Phase 1-2)
  services/README.md
  services/auth-service.js
  tests/services/auth-service.test.js
Due: eslint --fix, prettier --write

✅ Phase 1-3: Azure AI Service Extraction (P0 Critical)
  services/README.md
  services/azure-ai-service.js
  tests/services/azure-ai-service.test.js
Due: eslint --fix, prettier --write

✅ Phase 1-4: AI Chat Service Extraction (P0 Critical) - PHASE 1 COMPLETE!
  services/README.md
  services/ai-chat-service.js
  tests/services/ai-chat-service.test.js
Due: eslint --fix, prettier --write

feat(tests): Add comprehensive security middleware tests (80 tests)
  docs/TEST-COVERAGE-BASELINE.md
  package.json
  tests/unit/security-middleware.test.js
  tsconfig.json
  types/services.ts
Due: eslint --fix, prettier --write

docs(readme): Comprehensive README update with microservices architecture
  README.md
Due: prettier --write

chore(validation): Add 8-step final validation script
  scripts/final-validation.sh
Due: none

docs(summary): Comprehensive session summary - Phase 1 & 2 COMPLETE
  docs/SESSION-SUMMARY.md
Due: prettier --write

fix(tests): Complete test infrastructure cleanup - Zero open handles ✅
  jest.config.js
  monitoring/api-health-monitor.js
  package-lock.json
  package.json
  playwright-report/index.html
  services/monitoring-service.js
Due: eslint --fix, prettier --write

fix(tests): ES6 imports + Supabase tests excluded - 75% faster execution ✅
  README.md
  docs/TEST-COVERAGE-BASELINE.md
  jest.config.js
  tests/integration/auth/api-key.test.js
  tests/integration/auth/hmac.test.js
  tests/integration/auth/oauth2.test.js
Due: eslint --fix, prettier --write

docs(phase-2.5): Complete session summary with 75% performance improvement ✅
  docs/PHASE-2.5-SUMMARY.md
  docs/SESSION-SUMMARY.md
Due: prettier --write

feat(sendgrid): Complete SendGrid email integration setup ✅
  .env.sendgrid.example
  SENDGRID-SETUP-GUIDE.md
  docs/SENDGRID-DNS-SETUP.md
  scripts/setup-sendgrid-cloudflare.sh
  scripts/setup-sendgrid-dns.sh
  scripts/setup-sendgrid-env.sh
Due: prettier --write

docs(status): Add comprehensive project status - Phase 2.5 complete ✅
  docs/CURRENT-STATUS.md
Due: prettier --write

feat(services): Add File Storage Service with Azure Blob integration ✅
  services/file-storage-service.js
  tests/services/file-storage-service.test.js
Due: eslint --fix, prettier --write

🎯 Phase 3.2: Payment Service (Stripe) - COMPLETE ✅
  services/payment-service.js
  tests/services/payment-service.test.js
Due: eslint --fix, prettier --write

🏗️ Phase 4: Main Server Integration - COMPLETE ✅
  .env.example
  docs/API-ENDPOINTS.md
  middleware/microservices-integration.js
  server.js
  tests/integration/microservices-integration.test.js
Due: eslint --fix, prettier --write

🐳 Phase 5.1: Docker & Deployment Configuration - COMPLETE ✅
  Dockerfile
  docker-compose.production.yml
  docs/DEPLOYMENT.md
Due: prettier --write

🛡️ Phase 5.2: ZERO-RISK CI/CD Pipeline - Production Protection
  .github/workflows/production-deploy.yml
  .github/workflows/test-pr.yml
Due: none

📚 Phase 5.2: CI/CD Documentation - Zero-Risk Strategy
  .github/workflows/README.md
Due: prettier --write

📊 Phase 5.2 Complete: Updated Project Status
  docs/CURRENT-STATUS.md
Due: prettier --write

📊 Phase 5.3: Monitoring & Alerting - Production Observability
  scripts/uptime-monitor.js
  server.js
  services/monitoring-telemetry-service.js
  tests/services/monitoring-telemetry-service.test.js
Due: eslint --fix, prettier --write

🔒 Phase 5.2: GitHub Environment Setup Guide
  docs/GITHUB-ENVIRONMENT-SETUP.md
Due: prettier --write

📚 Phase 5 Documentation: Complete status update & summary
  .env.example
  docs/CURRENT-STATUS.md
  docs/PHASE-5-SUMMARY.md
Due: prettier --write

🔒 Phase 5.4: Security Hardening - Enterprise-Grade Security Tools
  .github/workflows/security-scan.yml
  docs/SECURITY.md
  scripts/secret-rotation-helper.js
  scripts/secret-validator.js
  scripts/security-audit.js
Due: eslint --fix, prettier --write

🔐 PRODUCTION AUTH: Complete email + Google OAuth authentication system
  docs/AUTH-SYSTEM.md
  docs/PHASE-3-SUMMARY.md
  lib/auth-handler.js
  lib/db-connection-secure.js
  package-lock.json
  package.json
  prisma/migrations/001_auth_system.sql
  scripts/run-auth-migration.js
  services/auth-service.js
Due: eslint --fix, prettier --write

🔐 COMPLETE AUTH SYSTEM: Production-ready authentication flow
  AUTH_SYSTEM_SUMMARY.md
  public/auth.html
  public/dashboard.html
  public/forgot-password.html
  public/reset-password.html
  public/verify-email.html
  services/auth-service.js
Due: eslint --fix, prettier --write

➕ Add auth routes to vercel.json
  vercel.json
Due: prettier --write

🔧 Fix pnpm lockfile issue for Vercel deployment
  vercel.json
Due: prettier --write

🔒 Remove exposed SendGrid API keys from documentation
  SENDGRID-SETUP-GUIDE.md
  docs/PHASE-3-SUMMARY.md
  scripts/setup-sendgrid-env.sh
Due: prettier --write

optimize: Remove unused dependencies (puppeteer, canvas) to fix Vercel 250MB limit
  package.json
  pnpm-lock.yaml
Due: prettier --write

optimize: Remove isomorphic-dompurify to eliminate canvas transitive dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Make Sentry profiling optional for compatibility
  services/monitoring-telemetry-service.js
Due: eslint --fix, prettier --write

fix: Disable apiLimiter in development mode (temporary)
  security/security-integration.js
Due: eslint --fix, prettier --write

fix: Improve Groq API error handling for Lydian-IQ
  security/security-integration.js
  server.js
Due: eslint --fix, prettier --write

security: Ultra-obfuscate AI model names (Groq/OpenAI/Anthropic/Google)
  server.js
Due: eslint --fix, prettier --write

debug: Add GROQ_API_KEY logging to lydian-iq/solve.js
  .env.production
  .env.vercel
  api/lydian-iq/solve.js
Due: eslint --fix, prettier --write

fix: Use real AI model names (Groq/Anthropic/OpenAI) instead of obfuscated codes
  api/lydian-iq/solve.js
Due: eslint --fix, prettier --write

debug: Add test-env endpoint to verify environment variables
  api/test-env.js
Due: eslint --fix, prettier --write

debug: Add /api/test-env endpoint to server.js for environment variable testing
  server.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,html,css})
