Repository sardagsoftware/borsa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{json,md,html,css}": ["prettier --write"]
}

Add Emrah Şardağ fix to recall/hybrid.js
  api/recall/hybrid.js
Due: eslint --fix, prettier --write

Mobile neon white styling + name query blocking + Turkish voice improvements
  api/analyze-url.js
  api/chat-unified-all-models.js
  api/files/analyze.js
  api/recall/hybrid.js
  api/voice/chat.js
  public/chat.html
  public/js/visitor-info.js
  public/js/voice-chat.js
  public/robots.txt
Due: eslint --fix, prettier --write

Fix mobile keyboard + neon white icons
  public/chat.html
Due: prettier --write

Fix mobile keyboard - simple & safe approach
  public/chat.html
Due: prettier --write

Remove neon glow + add corporate disclaimer
  public/chat.html
Due: prettier --write

Fix mobile message spacing and header z-index
  public/chat.html
Due: prettier --write

Fix mobile: logo visibility, dropdown, message spacing, suggestions
  public/chat.html
Due: prettier --write

Add chat auth system - independent from main ailydian auth
  api/chat-auth/_lib/cookies.js
  api/chat-auth/_lib/db.js
  api/chat-auth/_lib/jwt.js
  api/chat-auth/_lib/password.js
  api/chat-auth/change-password.js
  api/chat-auth/forgot-password.js
  api/chat-auth/history.js
  api/chat-auth/login.js
  api/chat-auth/logout.js
  api/chat-auth/me.js
  api/chat-auth/profile.js
  api/chat-auth/refresh.js
  api/chat-auth/register.js
  api/chat-auth/reset-password.js
  api/chat-auth/settings.js
  database/migrations/015_chat_auth_supabase.sql
  public/chat.html
  vercel.json
Due: eslint --fix, prettier --write

Update db.js to use Upstash Redis + in-memory fallback
  api/chat-auth/_lib/db.js
Due: eslint --fix, prettier --write

Fix serverless compatibility in password.js
  api/chat-auth/_lib/password.js
Due: eslint --fix, prettier --write

Add debug endpoint for chat-auth troubleshooting
  api/chat-auth/debug.js
  vercel.json
Due: eslint --fix, prettier --write

Fix routing: exclude chat-auth from API catch-all
  vercel.json
Due: prettier --write

Add body-parser helper for Vercel serverless functions
  api/chat-auth/_lib/body-parser.js
  api/chat-auth/change-password.js
  api/chat-auth/forgot-password.js
  api/chat-auth/history.js
  api/chat-auth/login.js
  api/chat-auth/profile.js
  api/chat-auth/register.js
  api/chat-auth/reset-password.js
  api/chat-auth/settings.js
Due: eslint --fix, prettier --write

Add body debug info to debug endpoint
  api/chat-auth/debug.js
Due: eslint --fix, prettier --write

Clean up debug endpoint for production
  api/chat-auth/debug.js
Due: eslint --fix, prettier --write

fix: comprehensive security + design overhaul — model name obfuscation, dark theme consistency, personal info removal
  api/ai-proxy.js
  api/chat-gpt5.js
  api/chat/index.js
  api/connectors/perplexity.js
  api/email/accounts.js
  api/hospital/admin-auth.js
  api/knowledge/chat.js
  api/knowledge/search.js
  api/legal-expert/chat.js
  api/telemetry/models.js
  public/about.html
  public/ai-chat.html
  public/ai-power-panel.html
  public/faq.jsonld
  public/feed/ai_models.rss
  public/governance-leaderboard.html
  public/index.html
  public/organization.jsonld
  public/seo-config.js
  public/system-status.html
  public/test-language-system.html
Due: eslint --fix, prettier --write

feat: redesign all auth pages to match chat.html design aesthetic
  public/auth.html
  public/forgot-password.html
  public/reset-password.html
  public/verify-email.html
Due: prettier --write

fix: complete AI model name obfuscation across 15 files
  api/azure-image-gen.js
  api/chat-claude.js
  api/imagen-photo.js
  api/medical-expert/index.js
  api/video.js
  backend/email-service.js
  scripts/seo-content-generator-v2.js
  scripts/seo-content-generator.js
  scripts/tier2-all-combined.js
  scripts/tier2-seo-meta-generator.js
  scripts/tier2a-seo-content.js
  server.js
  services/ai-chat-service.js
  services/sendgrid-email-service.js
  specialized-chat-route.js
Due: eslint --fix, prettier --write

fix: serverless export fixes, voice-tts security hardening, catch-all rewrite update
  api/chat-claude.js
  api/chat-groq.js
  api/voice-tts.js
  package.json
  pnpm-lock.yaml
  vercel.json
Due: eslint --fix, prettier --write

fix: remove all localhost/development references from production codebase
  api/_middleware/csrf-protection.js
  api/_middleware/rate-limiter.js
  api/ai-proxy.js
  api/auth-oauth.js
  api/auth/github.js
  api/auth/google.js
  api/auth/me.js
  api/auth/microsoft.js
  api/conversations/[id].js
  api/conversations/create.js
  api/conversations/delete.js
  api/conversations/list.js
  api/conversations/message.js
  api/conversations/messages.js
  api/conversations/search.js
  api/files/[id].js
  api/files/delete.js
  api/files/download.js
  api/files/list.js
  api/files/upload.js
  api/image/generate.js
  api/lydian-iq/vision.js
  api/openapi-auth.yaml
  api/preferences/get.js
  api/preferences/preset.js
  api/preferences/reset.js
  api/preferences/update.js
  api/speech/token.js
  api/system/health.js
  api/system/services.js
  public/api.html
  public/auth.html
  public/dashboard.html
  public/docs.html
  public/index.html
  public/js/ecw-integration.js
  public/js/ecw-widget.js
  public/js/orbit-stage.html
  public/lydian-legal-search.html
Due: eslint --fix, prettier --write

security: remove PII email logging and fix error.message leak
  api/auth/github/callback.js
  api/auth/google/callback.js
  api/auth/verify-2fa.js
  api/auth/verify-email.js
  api/cache/flush.js
  api/chat-auth/change-password.js
  api/chat-auth/forgot-password.js
  api/chat-auth/google-callback.js
  api/chat-auth/register.js
  api/files/analyze.js
  api/password-reset/request.js
  api/realtime/websocket.js
  server.js
Due: eslint --fix, prettier --write

fix: security hardening - remove secrets, fix error logging, add CORS
  api/_lib/recaptcha-verify.js
  api/_middleware/csrf-protection.js
  api/auth-oauth.js
  api/auth/github/callback.js
  api/auth/google/callback.js
  api/auth/index.js
  api/auth/login.js
  api/files/analyze.js
  api/finance/loan/compare.js
  api/imagen-photo.js
  api/password-reset/index.js
  api/seo/indexnow.js
  api/settings/index.js
  api/speech.js
  api/v1/_base/api-handler.js
  api/v1/product/sync.js
  api/v1/shipment/track.js
  api/veo-video.js
  api/video.js
  api/visitor/info.js
  api/web-search.js
Due: eslint --fix, prettier --write

fix: repair broken serverless functions causing 500 errors
  api/ai-assistant/health.js
  api/ai-assistant/stats.js
  api/index.js
  api/not-found.js
Due: eslint --fix, prettier --write

fix: repair 7 broken serverless functions + fix error.stack exposure
  api/auth/oauth.js
  api/auth/register.js
  api/azure-speech.js
  api/cache/flush.js
  api/lydian-iq/vision.js
  api/pytorch/inference.js
  api/security/dashboard.js
  api/web-search.js
Due: eslint --fix, prettier --write

Add proprietary license, CodeQL analysis, and Dependabot auto-merge
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  LICENSE
Due: none

Add proprietary license and security hardening
  LICENSE
  NOTICE
  SECURITY.md
Due: prettier --write

chore: trigger Vercel redeploy after repo unarchive
  .vercel-trigger
Due: none

ci: add emergency deploy workflow (skip validation)
  .github/workflows/emergency-deploy.yml
Due: none

ci: add vercel debug workflow to check API and project status
  .github/workflows/vercel-debug.yml
Due: none

ci: update emergency deploy with API debug + unpause attempt
  .github/workflows/emergency-deploy.yml
Due: none
