Repository sardagsoftware/borsa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: Add runtime GROQ_API_KEY check (fixes Vercel serverless caching)
  api/lydian-iq/solve.js
Due: eslint --fix, prettier --write

fix: Use object getters for API keys (FINAL FIX for Vercel serverless)
  api/lydian-iq/solve.js
Due: eslint --fix, prettier --write

feat: Factory function pattern for AI_CONFIG (FINAL FIX for Vercel serverless)
  api/lydian-iq/solve.js.backup-factory
Due: none

fix: Clear require cache for Lydian-IQ solver to ensure fresh env var reads
  server.js
Due: eslint --fix, prettier --write

fix: Native Vercel serverless for Lydian-IQ (bypass wrapper caching)
  vercel.json
Due: prettier --write

backup: before major improvements
  public/icons/lydian-grape-logo.svg
  public/icons/pwa-512.png
  public/icons/pwa-icon-with-text.svg
  public/icons/pwa-preview.png
Due: none

feat: update menu items - add ade/vet, change travel to holiday
  public/index.html
  scripts/apply-improvements.sh
  scripts/performance-optimization.sh
Due: prettier --write

feat: ADE düzeltmeleri ve performance optimizasyonları
  public/index.html
Due: prettier --write

fix: Mega menu scroll sorunu düzeltildi
  public/index.html
Due: prettier --write

feat: Contact form gerçek mail entegrasyonu
  public/contact.html
Due: prettier --write

feat: Google reCAPTCHA v3 robot koruması entegrasyonu
  api/_lib/recaptcha-verify.js
  api/auth/login.js
  api/auth/register.js
  public/auth.html
Due: eslint --fix, prettier --write

fix: Auth UI iyileştirmeleri - label görünürlük ve renk paleti
  public/auth.html
Due: prettier --write

fix: Şifremi unuttum modal tasarımı login arayüzü ile uyumlu hale getirildi
  public/auth.html
Due: prettier --write

fix: Auth card scroll - register form bottom content now accessible
  public/auth.html
Due: prettier --write

feat: Premium email autocomplete ve typo correction
  public/auth.html
Due: prettier --write

feat: AI model isimlerini kaldır - Google SEO optimizasyonu
  public/index.html
  public/models.html
Due: prettier --write

feat: 🔒 Token Security - httpOnly cookies migration
  api/_lib/cookie-utils.js
  api/auth/jwt-middleware.js
  api/auth/login.js
  api/auth/logout.js
  api/auth/refresh.js
  api/auth/verify.js
  public/auth.html
  public/dashboard.html
  public/governance-compliance.html
  public/governance-leaderboard.html
  public/governance-models.html
  public/governance-trust-index.html
  public/js/auth-secure.js
  public/pages/users.html
Due: eslint --fix, prettier --write

fix: TypeScript strict mode errors in civic-grid
  packages/civic-grid/src/aggregator.ts
  packages/civic-grid/src/dp-engine.ts
  packages/civic-grid/src/insights-api.ts
Due: eslint --fix, prettier --write

fix(civic-grid): Complete TypeScript strict mode fixes for key_id
  packages/civic-grid/src/insights-api.ts
Due: eslint --fix, prettier --write

fix(trust-layer): TypeScript strict mode fixes
  packages/trust-layer/src/evidence-pack.ts
  packages/trust-layer/src/explainer.ts
Due: eslint --fix, prettier --write

temp: Disable strict mode for optional packages deployment
  packages/civic-grid/tsconfig.json
  packages/trust-layer/tsconfig.json
Due: prettier --write

build: Exclude optional analytics packages from deployment
  .vercelignore
Due: none

build: Also exclude api/insights endpoints from deployment
  .vercelignore
Due: none

chore: Clean up backup files and directories
  .cleanup-backup-20251004-233430/azure-metrics.js
  .cleanup-backup-20251004-233430/chat-demo.js
  .cleanup-backup-20251004-233430/oauth.js
  .cleanup-backup-20251004-233430/roles.js
  .cleanup-backup-20251004-233430/solve.js
  backups/model-obfuscation-20251007-001518/lydian-iq-BACKUP-20251006-220020.html
  backups/model-obfuscation-20251007-001518/lydian-legal-search-BACKUP-20251004-022408.html
  backups/model-obfuscation-20251007-001518/lydian-legal-search-BACKUP-20251005-235806.html
  backups/model-obfuscation-20251007-001518/lydian-legal-search-BACKUP-20251006.html
  backups/model-obfuscation-20251007-001518/medical-expert-BACKUP-20251004.html
  backups/model-obfuscation-20251007-001518/medical-expert-BACKUP-20251005-022225.html
  ops/backups/pre-obfuscation-20251010-160602/public/lydian-legal-search-BACKUP-20251004-022408.html
  ops/backups/pre-obfuscation-20251010-160602/public/lydian-legal-search-BACKUP-20251005-235806.html
  ops/backups/pre-obfuscation-20251010-160602/public/lydian-legal-search-BACKUP-20251006.html
  ops/backups/pre-obfuscation-20251010-160602/public/medical-expert-BACKUP-20251005-022225.html
Due: eslint --fix, prettier --write

fix: remove optional analytics endpoints depending on civic-grid package
  INLINE-CSS-OPTIMIZATION-PLAN.md
  api/insights/logistics-bottlenecks.ts
  api/insights/return-rate.ts
Due: eslint --fix, prettier --write

feat: LocalRecall RAG entegrasyonu - Online/Offline desteği
  api/recall/collections.js
  api/recall/hybrid.js
  api/recall/index.js
  api/recall/search.js
  package.json
  pnpm-lock.yaml
  public/chat.html
  public/js/recall-client.js
  public/lydian-iq.html
  services/localrecall/ailydian-recall.js
  services/localrecall/config.js
  services/localrecall/index.js
  services/localrecall/obfuscation.js
  vercel.json
Due: eslint --fix, prettier --write

refactor: Pure RAG mode - Diğer AI modelleri devre dışı
  api/recall/hybrid.js
  public/chat.html
  public/lydian-iq.html
Due: eslint --fix, prettier --write

fix: AI AI -> LyDian Asistanı düzeltildi
  api/recall/hybrid.js
Due: eslint --fix, prettier --write

Fix chat page with real AI and RecallClient integration
  api/recall/hybrid.js
  api/recall/index.js
  public/chat.html
  public/lydian-iq.html
  services/localrecall/obfuscation.js
Due: eslint --fix, prettier --write

Fix JavaScript syntax error in chat.html
  public/chat.html
Due: prettier --write

feat: Add visitor location display and mobile responsive enhancements
  api/visitor/info.js
  public/chat.html
  public/js/visitor-info.js
  public/lydian-iq.html
Due: eslint --fix, prettier --write

feat: Ultra Sprint - Mobile UX, Secure Sharing, AI Confidence
  api/chat-unified-all-models.js
  api/files/analyze.js
  api/s/[code].js
  api/share/create.js
  api/voice/chat.js
  public/chat.html
  public/js/file-analyzer.js
  public/js/voice-chat.js
  public/s/[code].html
  services/localrecall/obfuscation.js
Due: eslint --fix, prettier --write

feat: Enhanced location, Siri-style voice UI, desktop stats & file upload
  public/chat.html
  public/js/visitor-info.js
  public/js/voice-chat.js
Due: eslint --fix, prettier --write

fix: UI improvements - form color, mobile icons, stats visibility, hologram colors
  public/chat.html
  public/js/voice-chat.js
Due: eslint --fix, prettier --write

fix: UX refinements - gray send button, native location permission, stats removed
  api/visitor/info.js
  public/chat.html
  public/js/visitor-info.js
Due: eslint --fix, prettier --write

feat: ChatGPT-style file analysis + ultra-strict AI identity protection
  api/chat-unified-all-models.js
  api/files/analyze.js
  public/chat.html
  services/localrecall/obfuscation.js
Due: eslint --fix, prettier --write

Fix Emrah Şardağ post-processing + mobile layout + copy buttons
  api/chat-unified-all-models.js
  public/chat.html
  services/localrecall/obfuscation.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md,html,css})
